.bull {
  position: relative;
}
.bull .bull_run {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;
}
.bull:hover .bull_run {
  display: block;
}